<?php
/**
*	Desafio: criar um banner pesquisador de passagens aéreas 
*	728x90
*
*	- Criar um "banner buscador" 728x90 que contenha os 
*	elementos mínimos de uma pesquisa de passagens, com seleção 
*	de origem, destino e datas, e um call-to-action que gere a 
*	pesquisa no site Voopter (em nova aba do browser). Dica: 
*	seleção de cidades pode ser um pull-down com 3 cidades de 
*	exemplo em cada um.
*	- Seleção de datas não precisa ser multi-datas.
*	- Não é necessária seleção de passageiros (default = 1 
*	adulto), mas sim a seleção de "ida e volta / só ida".
*	- Que o banner funcione corretamente tanto dentro de um 
*	iframe, como inserido o código completo em qualquer site, 
*	sem gerar conflito com os JS e CSS dos mesmos.
*	- Design precisa seguir o look&feel do Voopter.
**/
?>
<!DOCTYPE html>
<html lang="pt-br">
<!-- HEAD -->
	<head>
	    <!-- MetaTags básicas -->
	    	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	    	<meta http-equiv="Content-Language" content="pt-br">
	    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <!-- Fim das MetaTags básicas -->

	    <!-- CSS -->
	    	<link rel="stylesheet" type="text/css" href="assets/css/voopter-lib.css">
	    	<link rel="stylesheet" type="text/css" href="assets/css/voopter-iframe.css">
	    <!-- Fim do CSS -->

	</head>
<!-- Fim do HEAD -->
<!-- BODY -->
	<body id="iframe">
		<section id="banner-iframe" class="container-fluid">
			<div class="row col-12 mt-2">
				<div class="col-3 form-box">
					<div class="form-group">
					    <label for="origem" v-text="labels[0]"></label>
					    <select id="origem" class="form-control" @change="onChangeSelecionaValorOrigem">
			    			<option selected disabled v-text="placeholders[0]"></option>
							<option v-for="aeroporto in aeroportos" v-text="aeroporto.cidade" :value="aeroporto.id" :data-string="aeroporto.urlString"></option>
					    </select>
				  	</div>
				</div>
				<div class="col-3 form-box">
				  	<div class="form-group">
					    <label for="destino" v-text="labels[1]"></label>
					    <select id="destino" class="form-control" @change="onChangeSelecionaValorDestino">
					    	<option selected disabled v-text="placeholders[0]"></option>
							<option v-for="aeroporto in aeroportos" v-text="aeroporto.cidade" :value="aeroporto.id" :data-string="aeroporto.urlString"></option>
					    </select>
				  	</div>
				</div>
				<div class="col-3 form-box">
				  	<div class="form-group">
					    <i id="icone-ida" class="fa fa-location-arrow"></i> <label for="ida" v-text="labels[2]"></label>
					    <div class="input-group date">
						    <input id="datepicker-ida" name="valor-data-ida" data-provide="datepicker" class="form-control" :placeholder="placeholders[1]">
						</div>
				  	</div>
				</div>
				<div class="col-3 form-box">
				  	<div class="form-group">
					    <i id="icone-volta" class="fa fa-location-arrow"></i> <label for="ida" v-text="labels[3]"></label>
					    <div class="input-group date">
						    <input id="datepicker-volta" name="valor-data-volta" data-provide="datepicker" class="form-control" :placeholder="placeholders[1]" disabled>
						</div>
				  	</div>
				</div>
			</div>
			<div class="row col-12 mt-2">
			<div class="col-3 form-box">
				<button id="btn-ida" class="btn btn-ida-volta" :class="{ ativado : isAtivadoIda, desativado : isAtivadoIdaVolta }" v-text="labels[4]" @click="onClickHabilitaIda"></button>
				<input type="hidden" id="valor-ida" name="valor-ida" value="true">
			</div>
			<div class="col-3 form-box">
				<button id="btn-ida-volta" class="btn btn-ida-volta" :class="{ desativado : isAtivadoIda, ativado : isAtivadoIdaVolta }" v-text="labels[5]" @click="onClickHabilitaIdaVolta"></button>
				<input type="hidden" id="valor-ida-volta" name="valor-ida-volta" value="false">
			</div>
			<div class="col-6 text-right">
		  		<a id="link-voopter" href="" target="_blank"><button type="submit" class="btn btn-pesquisar" v-text="labels[6]" @click="onClickEnviaPesquisaViagem"></button></a>
	  		</div>
	  		</div>
		</section>
	</body>
<!-- Fim do BODY -->
<!-- JS -->
	<script src="assets/js/voopter-iframe.js" type="text/javascript"></script>
	<script>
		var valorOrigem, valorOrigemUrlString, valorDestino, valorDestinoUrlString, urlVoopter;
		var app = new Vue({
		el: '#banner-iframe',
		data: {
			labels : [
				'Origem',
				'Destino',
				'Data da Ida',
				'Data da Volta',
				'Somente Ida',
				'Ida e Volta',
				'Pesquisar'
			],
			placeholders : [
				'Nome da cidade/aeroporto',
				'Selecione uma data'
			],
			aeroportos : [
				{
					id : 'ATM', cidade : 'Altamira (ATM)', urlString : 'altamira'
				},
				{
					id : 'AJU', cidade : 'Aracaju (AJU)', urlString : 'aracaju'
				},
				{	
					id : 'BGX', cidade : 'Bagé (BGX)', urlString : 'bage'
				},
				{
					id : 'BEL', cidade : 'Belém (BEL)', urlString : 'belem',
				},
				{
					id : 'BHZ', cidade : 'Belo Horizonte (BHZ)', urlString : 'belo-horizonte'
				},
				{
					id : 'BVB', cidade : 'Boa Vista (BVB)', urlString : 'boa-vista'
				},
				{
					id : 'BSB', cidade : 'Brasília (BSB)', urlString : 'brasilia'
				},
				{
					id : 'CPV', cidade : 'Campina Grande (CPV)', urlString : 'campina-grande'
				},
				{
					id : 'VCP', cidade : 'Campinas (VCP)', urlString : 'campinas'
				},
				{
					id : 'CGR', cidade : 'Campo Grande (CGR)', urlString : 'campo-grande'
				},
				{
					id : 'CAW', cidade : 'Campos (CAW)', urlString : 'campos'
				},
				{
					id : 'CKS', cidade : 'Carajas (CKS)', urlString : 'carajas'
				},
				{
					id : 'CNF', cidade : 'Confins (CNF)', urlString : 'confins'
				},
				{				
					id : 'CMG', cidade : 'Corumbá (CMG)', urlString : 'corumba'
				},
				{
					id : 'CCM', cidade : 'Criciúma (CCM)',  urlString : 'criciuma'
				},
				{
					id : 'CZS', cidade : 'Cruzeiro do Sul (CZS)', urlString : 'cruzeiro-do-sul'
				},
				{
					id : 'CGB', cidade : 'Cuiabá (CGB)', urlString : 'cuiaba'
				},
				{
					id : 'CWB', cidade : 'Curitiba (CWB)', urlString : 'curitiba'
				},
				{
					id : 'FLN', cidade : 'Florianópolis (FLN)', urlString : 'florianopolis'
				},
				{
					id : 'FOR', cidade : 'Fortaleza (FOR)', urlString : 'fortaleza'
				},
				{
					id : 'IGU', cidade : 'Foz do Iguaçu (IGU)', urlString : 'foz-do-iguacu'
				},
				{
					id : 'GYN', cidade : 'Goiânia (GYN)', urlString : 'goiania'
				},
				{
					id : 'IOS', cidade : 'Ilhéus (IOS)', urlString : 'ilheus'
				},
				{
					id : 'IMP', cidade : 'Imperatriz (IMP)', urlString : 'imperatriz'
				},
				{
					id : 'JPA', cidade : 'Joao Pessoa (JPA)', urlString : 'joao-pessoa'
				},
				{
					id : 'JOI', cidade : 'Joinville (JOI)', urlString : 'joinville'
				},
				{
					id : 'JDO', cidade : 'Juazeiro do Norte (JDO)', urlString : 'juazeiro-do-norte'
				},
				{
					id : 'LDB', cidade : 'Londrina (LDB)', urlString : 'londrina'
				},
				{
					id : 'MEA', cidade : 'Macaé (MEA)', urlString : 'macae'
				},
				{
					id : 'MCP', cidade : 'Macapá (MCP)', urlString : 'macapa'
				},
				{
					id : 'MCZ', cidade : 'Maceió (MCZ)', urlString : 'maceio'
				},
				{
					id : 'MAO', cidade : 'Manaus (MAO)', urlString : 'manaus'
				},
				{
					id : 'MAB', cidade : 'Marabá (MAB)', urlString : 'maraba'
				},
				{
					id : 'MOC', cidade : 'Montes Claros (MOC)', urlString : 'montes-claros'
				},
				{
					id : 'NAT', cidade : 'Natal (NAT)', urlString : 'natal'
				},
				{
					id : 'NVT', cidade : 'Navegantes (NVT)', urlString : 'navegantes'
				},
				{
					id : 'PMW', cidade : 'Palmas (PMW)', urlString : 'palmas'
				},
				{
					id : 'PHB', cidade : 'Parnaíba (PHB)', urlString : 'parnaiba'
				},
				{
					id : 'PAV', cidade : 'Paulo Afonso (PAV)', urlString : 'paulo-afonso'
				},
				{
					id : 'PET', cidade : 'Pelotas (PET)', urlString : 'pelotas'
				},
				{
					id : 'PNZ', cidade : 'Petrolina (PNZ)', urlString : 'petrolina'
				},
				{
					id : 'PMG', cidade : 'Ponta Porã (PMG)', urlString : 'ponta-pora'
				},
				{
					id : 'POA', cidade : 'Porto Alegre (POA)', urlString : 'porto-alegre'
				},
				{
					id : 'PVH', cidade : 'Porto Velho (PVH)', urlString : 'porto-velho'
				},
				{
					id : 'REC', cidade : 'Recife (REC)', urlString : 'recife'
				},
				{
					id : 'RBR', cidade : 'Rio Branco (RBR)', urlString : 'rio-branco'
				},
				{
					id : 'RIO', cidade : 'Rio de Janeiro (RIO)', urlString : 'rio-de-janeiro'
				},
				{
					id : 'SSA', cidade : 'Salvador (SSA)', urlString : 'salvador'
				},
				{
					id : 'STM', cidade : 'Santarém (STM)', urlString : 'santarem'
				},
				{
					id : 'SJK', cidade : 'São José dos Campos (SJK)', urlString : 'sao-jose-dos-campos'
				},
				{
					id : 'SLZ', cidade : 'São Luís (SLZ)', urlString : 'sao-luis'
				},
				{
					id : 'SAO', cidade : 'São Paulo (SAO)', urlString : 'sao-paulo'
				},
				{
					id : 'TBT', cidade : 'Tabatinga (TBT)', urlString : 'tabatinga'
				},
				{
					id : 'TFF', cidade : 'Tefé (TFF)', urlString : 'tefe'
				},
				{
					id : 'THE', cidade : 'Teresina (THE)', urlString : 'teresina'
				},
				{
					id : 'UBA', cidade : 'Uberaba (UBA)', urlString : 'uberaba'
				},
				{
					id : 'UDI', cidade : 'Uberlândia (UDI)', urlString : 'uberlandia'
				},
				{
					id : 'URG', cidade : 'Uruguaiana (URG)', urlString : 'uruguaiana'
				},
				{
					id : 'VIX', cidade : 'Vitória (VIX)', urlString : 'vitoria'
				}
			],
			isAtivadoIda : true,
			isAtivadoIdaVolta : false
		},
		methods: {
			onChangeSelecionaValorOrigem () {
				console.log('[CALL] onChangeSelecionaValorOrigem');
				valorOrigem = $('#origem').val();
				console.log(valorOrigem);
				valorOrigemUrlString = $('#origem').find(':selected').data('string');
				console.log(valorOrigemUrlString);
			},
			onChangeSelecionaValorDestino () {
				console.log('[CALL] onChangeSelecionaValorDestino');
				valorDestino = $('#destino').val();
				console.log(valorDestino);
				valorDestinoUrlString = $('#destino').find(':selected').data('string');
				console.log(valorDestinoUrlString);
			},
			onClickHabilitaIda() {
				console.log('[CALL] onClickHabilitaIda');
				if(this.isAtivadoIda) {
					this.isAtivadoIda = true;
					this.isAtivadoIdaVolta = false;
					$('#valor-ida').val(this.isAtivadoIda);
					$('#valor-ida-volta').val(this.isAtivadoIdaVolta);
					$('#datepicker-volta').attr('disabled', 'disabled');
				}
				if(this.isAtivadoIdaVolta) {
					this.isAtivadoIda = true;
					this.isAtivadoIdaVolta = false;
					$('#valor-ida').val(this.isAtivadoIda);
					$('#valor-ida-volta').val(this.isAtivadoIdaVolta);
					$('#datepicker-volta').attr('disabled', 'disabled');
				}
			},
			onClickHabilitaIdaVolta() {
				console.log('[CALL] onClickHabilitaIdaVolta');
				if(this.isAtivadoIda) {
					this.isAtivadoIda = false;
					this.isAtivadoIdaVolta = true;
					$('#valor-ida').val(this.isAtivadoIda);
					$('#valor-ida-volta').val(this.isAtivadoIdaVolta);
					$('#datepicker-volta').removeAttr('disabled');
				}
				if(this.isAtivadoIdaVolta) {
					this.isAtivadoIda = false;
					this.isAtivadoIdaVolta = true;
					$('#valor-ida').val(this.isAtivadoIda);
					$('#valor-ida-volta').val(this.isAtivadoIdaVolta);
					$('#datepicker-volta').removeAttr('disabled');
				}	
			},
			onClickEnviaPesquisaViagem() {
				console.log('[Call] onClickEnviaPesquisaViagem');
				urlVoopter = ('https://voopter.com.br/passagens-aereas-de-'+valorOrigemUrlString+'/'+valorOrigem+'/para-'+valorDestinoUrlString+'/'+valorDestino)
				console.log('https://voopter.com.br/passagens-aereas-de-'+valorOrigemUrlString+'/'+valorOrigem+'/para-'+valorDestinoUrlString+'/'+valorDestino);
				window.open(urlVoopter, '_blank');
			}
		}
});
	</script>
<!-- Fim do JS -->
</html>


