/*==================================================
*			Voopter - Media Queries        			*
*=================================================*/

/* Arquivos MIXINS */
	@import "mixins/mixins";

/* Arquivos BASE */
	@import "bibliotecas/cores";
	@import "bibliotecas/fontes";
	@import "bibliotecas/utilitarios";

/* Arquivos COMPONENTES */
	@import "componentes/botoes";

/* Extra Small Devices */
	@media only screen and (min-width : 320px) and (max-width: 575px) {
	  @import "breakpoints/1_xs-iframe";
	}

/* Small Devices */
	@media only screen and (min-width : 576px) and (max-width: 767px) {
	  @import "breakpoints/2_sm-iframe";
	}

/* Medium Devices */
	@media only screen and (min-width : 768px) and (max-width: 991px) {
	  @import "breakpoints/3_md-iframe";
	}

/* Large Devices */
	@media only screen and (min-width : 992px) and (max-width: 1219px){
	  @import "breakpoints/4_lg-iframe";
	}

/* LARGE - Large Devices */
	@media only screen and (min-width : 1200px) {
	  @import "breakpoints/5_xl-iframe";
	}