/*==============================================================================
  CORES
==============================================================================*/

/*===================
  CORES GENÉRICAS
===================*/
$cor-branco:rgb(255,255,255);
$cor-preto:rgb(0,0,0);

/*===================
  CORES
  * Usar -1, -2, -3 para n tom ABAIXO da cor original
  * Usar -4, -5, -6 para n tom ACIMA da cor original
===================*/

/*===================
	AZUL Claro
===================*/
	$cor-azul-claro-1: rgba(96,232,255,1);
	$cor-azul-claro-2: rgba(64,227,255,1);
	$cor-azul-claro-3: rgba(32,223,255,1);
	$cor-azul-claro: rgba(0,218,255,1);
	$cor-azul-claro-4: rgba(0,191,223,1);
	$cor-azul-claro-5: rgba(0,164,191,1);
	$cor-azul-claro-6: rgba(0,136,159,1);


/*===================
	AZUL Médio
===================*/
	$cor-azul-medio-1: rgba(68,216,255,1);
	$cor-azul-medio-2: rgba(31,208,255,1);
	$cor-azul-medio-3: rgba(0,197,248,1);
	$cor-azul-medio: rgba(0,167,211,1);
	$cor-azul-medio-4: rgba(0,146,185,1);
	$cor-azul-medio-5: rgba(0,125,158,1);
	$cor-azul-medio-6: rgba(0,104,132,1);

/*===================
	AZUL Escuro
===================*/
	$cor-azul-escuro-1: rgba(23,196,255,1);
	$cor-azul-escuro-2: rgba(0,172,231,1);
	$cor-azul-escuro-3: rgba(0,138,185,1);
	$cor-azul-escuro: rgba(0,103,138,1);
	$cor-azul-escuro-4: rgba(0,90,121,1);
	$cor-azul-escuro-5: rgba(0,77,104,1);
	$cor-azul-escuro-6: rgba(0,64,86,1);