/*==============================================================================
  FONTES
==============================================================================*/

/* Dosis EXTRA LIGHT */
@font-face {
  font-family: 'Dosis Extra-Light';
  src: url('../fonts/Dosis/extralight/Dosis-ExtraLight.eot');
  src: url('../fonts/Dosis/extralight/Dosis-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis/extralight/Dosis-ExtraLight.woff') format('woff'),
         url('../fonts/Dosis/extralight/Dosis-ExtraLight.woff2') format('woff2'),
         url('../fonts/Dosis/extralight/Dosis-ExtraLight.ttf') format('truetype'),
         url('../fonts/Dosis/extralight/Dosis-ExtraLight.svg#DOSIS_EXTRALIGHT') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-dosis-extra-light: 'Dosis Extra-Light', sans-serif;

/* Dosis LIGHT */
@font-face {
  font-family: 'Dosis Light';
  src: url('../fonts/Dosis/light/Dosis-Light.eot');
  src: url('../fonts/Dosis/light/Dosis-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis/light/Dosis-Light.woff') format('woff'),
         url('../fonts/Dosis/light/Dosis-Light.woff2') format('woff2'),
         url('../fonts/Dosis/light/Dosis-Light.ttf') format('truetype'),
         url('../fonts/Dosis/light/Dosis-Light.svg#DOSIS_LIGHT') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-dosis-light: 'Dosis Light', sans-serif;

/* Dosis REGULAR */
@font-face {
  font-family: 'Dosis Regular';
  src: url('../fonts/Dosis/regular/Dosis-Regular.eot');
  src: url('../fonts/Dosis/regular/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis/regular/Dosis-Regular.woff') format('woff'),
         url('../fonts/Dosis/regular/Dosis-Regular.woff2') format('woff2'),
         url('../fonts/Dosis/regular/Dosis-Regular.ttf') format('truetype'),
         url('../fonts/Dosis/regular/Dosis-Regular.svg#DOSIS_REGULAR') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-dosis-regular: 'Dosis Regular', sans-serif;

/* Dosis MEDIUM */
@font-face {
  font-family: 'Dosis Medium';
  src: url('../fonts/Dosis/medium/Dosis-Medium.eot');
  src: url('../fonts/Dosis/medium/Dosis-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis/medium/Dosis-Medium.woff') format('woff'),
         url('../fonts/Dosis/medium/Dosis-Medium.woff2') format('woff2'),
         url('../fonts/Dosis/medium/Dosis-Medium.ttf') format('truetype'),
         url('../fonts/Dosis/medium/Dosis-Medium.svg#DOSIS_MEDIUM') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-dosis-medium: 'Dosis Medium', sans-serif;

/* Dosis SEMI-BOLD */
@font-face {
  font-family: 'Dosis Semi-Bold';
  src: url('../fonts/Dosis/semibold/Dosis-SemiBold.eot');
  src: url('../fonts/Dosis/semibold/Dosis-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis/semibold/Dosis-SemiBold.woff') format('woff'),
         url('../fonts/Dosis/semibold/Dosis-SemiBold.woff2') format('woff2'),
         url('../fonts/Dosis/semibold/Dosis-SemiBold.ttf') format('truetype'),
         url('../fonts/Dosis/semibold/Dosis-SemiBold.svg#DOSIS_SEMIBOLD') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-dosis-semi-bold: 'Dosis Semi-Bold', sans-serif;

/* Dosis BOLD */
@font-face {
  font-family: 'Dosis Bold';
  src: url('../fonts/Dosis/bold/Dosis-Bold.eot');
  src: url('../fonts/Dosis/bold/Dosis-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis/bold/Dosis-Bold.woff') format('woff'),
         url('../fonts/Dosis/bold/Dosis-Bold.woff2') format('woff2'),
         url('../fonts/Dosis/bold/Dosis-Bold.ttf') format('truetype'),
         url('../fonts/Dosis/bold/Dosis-Bold.svg#DOSIS_BOLD') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-dosis-bold: 'Dosis Bold', sans-serif;

/* Dosis EXTRA BOLD */
@font-face {
  font-family: 'Dosis Extra-Bold';
  src: url('../fonts/Dosis/extrabold/Dosis-ExtraBold.eot');
  src: url('../fonts/Dosis/extrabold/Dosis-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dosis/extrabold/Dosis-ExtraBold.woff') format('woff'),
         url('../fonts/Dosis/extrabold/Dosis-ExtraBold.woff2') format('woff2'),
         url('../fonts/Dosis/extrabold/Dosis-ExtraBold.ttf') format('truetype'),
         url('../fonts/Dosis/extrabold/Dosis-ExtraBold.svg#DOSIS_EXTRABOLD') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font-dosis-extra-bold: 'Dosis Extra-Bold', sans-serif;