/*==============================================================================
  VARIÁVEIS
==============================================================================*/
	$fa-un:1em;

/*==============================================================================
  Classe de Fontes
==============================================================================*/

	// [FontAwesome] Mais tamanhos de fontes
		.fa-0-1x {
			font-size: 0.1*$fa-un;
		}
		.fa-0-2x {
			font-size: 0.2*$fa-un;
		}
		.fa-0-3x {
			font-size: 0.3*$fa-un;
		}
		.fa-0-4x {
			font-size: 0.4*$fa-un;
		}
		.fa-0-5x {
			font-size: 0.5*$fa-un;
		}
		.fa-0-6x {
			font-size: 0.6*$fa-un;
		}
		.fa-0-7x {
			font-size: 0.7*$fa-un;
		}
		.fa-0-8x {
			font-size: 0.8*$fa-un;
		}
		.fa-0-9x {
			font-size: 0.9*$fa-un;
		}
		.fa-1-1x{
			font-size: 1.1*$fa-un;
		}
		.fa-1-2x{
			font-size: 1.2*$fa-un;
		}
		.fa-1-3x{
			font-size: 1.3*$fa-un;
		}
		.fa-1-4x{
			font-size: 1.4*$fa-un;
		}
		.fa-1-5x{
			font-size: 1.5*$fa-un;
		}
		.fa-1-6x{
			font-size: 1.6*$fa-un;
		}
		.fa-1-7x{
			font-size: 1.7*$fa-un;
		}
		.fa-1-8x{
			font-size: 1.8*$fa-un;
		}
		.fa-1-9x{
			font-size: 1.9*$fa-un;
		}
		.fa-6x{
			font-size: 6*$fa-un;
		}
		.fa-7x{
			font-size: 7*$fa-un;
		}
		.fa-8x{
			font-size: 8*$fa-un;
		}
		.fa-9x{
			font-size: 9*$fa-un;
		}
		.fa-10x{
			font-size: 10*$fa-un;
		}
