.btn-ida-volta.ativado{
	font-family: $font-dosis-medium;
	font-size: .8rem;
	text-transform: uppercase;

	color: $cor-branco;
	border: 1px solid transparent;
	background-color: $cor-azul-escuro-3;
	@include transition(background-color .4s ease-in);
	&:active{
		color: $cor-branco;
		border: 1px solid transparent;
		background-color: $cor-azul-escuro-6;
		@include transition(background-color .4s ease-in);
	}
	&:hover{
		color: $cor-branco;
		border: 1px solid transparent;
		background-color: $cor-azul-escuro-4;
		@include transition(background-color .4s ease-in);
	}
	&:focus{
		color: $cor-branco;
		border: 1px solid transparent;
		background-color: $cor-azul-escuro-5;
		@include transition(background-color .4s ease-in);
	}
	&:visited{
		color: $cor-branco;
		border: 1px solid transparent;
		background-color: $cor-azul-escuro-6;
		@include transition(background-color .4s ease-in);
	}
}

.btn-ida-volta.desativado{
	font-family: $font-dosis-medium;
	font-size: .8rem;
	text-transform: uppercase;
	
	color: $cor-azul-escuro;
	@include transition(color .4s ease-in);
	border: 1px solid $cor-azul-escuro;
	@include transition(border .4s ease-in);
	background-color: transparent;
	@include transition(background-color .4s ease-in);
	
	&:active{
		color: $cor-branco;
		@include transition(color .4s ease-in);
		border: 1px solid transparent;
		@include transition(border .4s ease-in);
		background-color: $cor-azul-escuro-6;
		@include transition(background-color .4s ease-in);
	}
	&:hover{
		color: $cor-branco;
		@include transition(color .4s ease-in);
		border: 1px solid transparent;
		@include transition(border .4s ease-in);
		background-color: $cor-azul-escuro-4;
		@include transition(background-color .4s ease-in);
	}
	&:focus{
		color: $cor-branco;
		@include transition(color .4s ease-in);
		border: 1px solid transparent;
		@include transition(border .4s ease-in);
		background-color: $cor-azul-escuro-5;
		@include transition(background-color .4s ease-in);
	}
	&:visited{
		color: $cor-branco;
		@include transition(color .4s ease-in);
		border: 1px solid transparent;
		@include transition(border .4s ease-in);
		background-color: $cor-azul-escuro-6;
		@include transition(background-color .4s ease-in);
	}
}

.btn-pesquisar{
	font-family: $font-dosis-medium;
	font-size: 1rem;
	text-transform: uppercase;

	color: $cor-branco;
	border: 1px solid transparent;
	background-color: $cor-azul-escuro-3;
	@include transition(background-color .4s ease-in);
	&:active{
		color: $cor-branco;
		border: 1px solid transparent;
		background-color: $cor-azul-escuro-6;
		@include transition(background-color .4s ease-in);
	}
	&:hover{
		color: $cor-branco;
		border: 1px solid transparent;
		background-color: $cor-azul-escuro-4;
		@include transition(background-color .4s ease-in);
	}
	&:focus{
		color: $cor-branco;
		border: 1px solid transparent;
		background-color: $cor-azul-escuro-5;
		@include transition(background-color .4s ease-in);
	}
	&:visited{
		color: $cor-branco;
		border: 1px solid transparent;
		background-color: $cor-azul-escuro-6;
		@include transition(background-color .4s ease-in);
	}
}