body#iframe{
	background-color: $cor-branco;
	div.form-box{
		display: inline-block;
		i#icone-ida{
			color: $cor-azul-escuro;
			transform: rotate(0deg);
		}
		i#icone-volta{
			color: $cor-azul-escuro;
			transform: rotate(180deg);
		}
		label{
			font-family: $font-dosis-bold;
			text-transform: uppercase;
			color: $cor-azul-escuro;
		}
		input, select{
			font-family: $font-dosis-medium;
			@include placeholder{
				font-family: $font-dosis-medium;
			}
		}
	}
}