body#app{
	background-image: url("../img/jpg/home-bg.jpg");
	background-size: cover;
	border-radius: 3%;
	div#banner-header{
		div#logo-voopter{
		    background-color: rgba(255, 255, 255, 0.75);
		    border-radius: 15px;
		    padding: 1.5rem 0;
			img{}
		}
		div#titulo-voopter{
			h1{
				font-family: $font-dosis-regular;
				text-transform: uppercase;
				color: $cor-branco;
				span{
					font-family: $font-dosis-bold;
				}
			}
		}
	}
	iframe#banner-buscador{
		display: block;
		margin: 0 auto;
		border: 0;
		box-shadow: 5px 3px 3px rgba(255,255,255,0.55);
		min-width: 728px;
		min-height: 90px;
	}
}