@charset "UTF-8";
/*==================================================
*			Voopter - Media Queries        			*
*=================================================*/
/* Arquivos MIXINS */
/* Arquivos BASE */
/*==============================================================================
  CORES
==============================================================================*/
/*===================
  CORES GENÉRICAS
===================*/
/*===================
  CORES
  * Usar -1, -2, -3 para n tom ABAIXO da cor original
  * Usar -4, -5, -6 para n tom ACIMA da cor original
===================*/
/*===================
	AZUL Claro
===================*/
/*===================
	AZUL Médio
===================*/
/*===================
	AZUL Escuro
===================*/
/*==============================================================================
  FONTES
==============================================================================*/
/* Dosis EXTRA LIGHT */
@font-face {
  font-family: 'Dosis Extra-Light';
  src: url("../fonts/Dosis/extralight/Dosis-ExtraLight.eot");
  src: url("../fonts/Dosis/extralight/Dosis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis/extralight/Dosis-ExtraLight.woff") format("woff"), url("../fonts/Dosis/extralight/Dosis-ExtraLight.woff2") format("woff2"), url("../fonts/Dosis/extralight/Dosis-ExtraLight.ttf") format("truetype"), url("../fonts/Dosis/extralight/Dosis-ExtraLight.svg#DOSIS_EXTRALIGHT") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Dosis LIGHT */
@font-face {
  font-family: 'Dosis Light';
  src: url("../fonts/Dosis/light/Dosis-Light.eot");
  src: url("../fonts/Dosis/light/Dosis-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis/light/Dosis-Light.woff") format("woff"), url("../fonts/Dosis/light/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis/light/Dosis-Light.ttf") format("truetype"), url("../fonts/Dosis/light/Dosis-Light.svg#DOSIS_LIGHT") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Dosis REGULAR */
@font-face {
  font-family: 'Dosis Regular';
  src: url("../fonts/Dosis/regular/Dosis-Regular.eot");
  src: url("../fonts/Dosis/regular/Dosis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis/regular/Dosis-Regular.woff") format("woff"), url("../fonts/Dosis/regular/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis/regular/Dosis-Regular.ttf") format("truetype"), url("../fonts/Dosis/regular/Dosis-Regular.svg#DOSIS_REGULAR") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Dosis MEDIUM */
@font-face {
  font-family: 'Dosis Medium';
  src: url("../fonts/Dosis/medium/Dosis-Medium.eot");
  src: url("../fonts/Dosis/medium/Dosis-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis/medium/Dosis-Medium.woff") format("woff"), url("../fonts/Dosis/medium/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis/medium/Dosis-Medium.ttf") format("truetype"), url("../fonts/Dosis/medium/Dosis-Medium.svg#DOSIS_MEDIUM") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Dosis SEMI-BOLD */
@font-face {
  font-family: 'Dosis Semi-Bold';
  src: url("../fonts/Dosis/semibold/Dosis-SemiBold.eot");
  src: url("../fonts/Dosis/semibold/Dosis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis/semibold/Dosis-SemiBold.woff") format("woff"), url("../fonts/Dosis/semibold/Dosis-SemiBold.woff2") format("woff2"), url("../fonts/Dosis/semibold/Dosis-SemiBold.ttf") format("truetype"), url("../fonts/Dosis/semibold/Dosis-SemiBold.svg#DOSIS_SEMIBOLD") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Dosis BOLD */
@font-face {
  font-family: 'Dosis Bold';
  src: url("../fonts/Dosis/bold/Dosis-Bold.eot");
  src: url("../fonts/Dosis/bold/Dosis-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis/bold/Dosis-Bold.woff") format("woff"), url("../fonts/Dosis/bold/Dosis-Bold.woff2") format("woff2"), url("../fonts/Dosis/bold/Dosis-Bold.ttf") format("truetype"), url("../fonts/Dosis/bold/Dosis-Bold.svg#DOSIS_BOLD") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Dosis EXTRA BOLD */
@font-face {
  font-family: 'Dosis Extra-Bold';
  src: url("../fonts/Dosis/extrabold/Dosis-ExtraBold.eot");
  src: url("../fonts/Dosis/extrabold/Dosis-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis/extrabold/Dosis-ExtraBold.woff") format("woff"), url("../fonts/Dosis/extrabold/Dosis-ExtraBold.woff2") format("woff2"), url("../fonts/Dosis/extrabold/Dosis-ExtraBold.ttf") format("truetype"), url("../fonts/Dosis/extrabold/Dosis-ExtraBold.svg#DOSIS_EXTRABOLD") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==============================================================================
  VARIÁVEIS
==============================================================================*/
/*==============================================================================
  Classe de Fontes
==============================================================================*/
.fa-0-1x {
  font-size: 0.1em; }

.fa-0-2x {
  font-size: 0.2em; }

.fa-0-3x {
  font-size: 0.3em; }

.fa-0-4x {
  font-size: 0.4em; }

.fa-0-5x {
  font-size: 0.5em; }

.fa-0-6x {
  font-size: 0.6em; }

.fa-0-7x {
  font-size: 0.7em; }

.fa-0-8x {
  font-size: 0.8em; }

.fa-0-9x {
  font-size: 0.9em; }

.fa-1-1x {
  font-size: 1.1em; }

.fa-1-2x {
  font-size: 1.2em; }

.fa-1-3x {
  font-size: 1.3em; }

.fa-1-4x {
  font-size: 1.4em; }

.fa-1-5x {
  font-size: 1.5em; }

.fa-1-6x {
  font-size: 1.6em; }

.fa-1-7x {
  font-size: 1.7em; }

.fa-1-8x {
  font-size: 1.8em; }

.fa-1-9x {
  font-size: 1.9em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

/* Arquivos COMPONENTES */
.btn-ida-volta.ativado {
  font-family: "Dosis Medium", sans-serif;
  font-size: .8rem;
  text-transform: uppercase;
  color: white;
  border: 1px solid transparent;
  background-color: #008ab9;
  -webkit-transition: background-color 0.4s ease-in;
  -moz-transition: background-color 0.4s ease-in;
  -ms-transition: background-color 0.4s ease-in;
  -o-transition: background-color 0.4s ease-in; }
  .btn-ida-volta.ativado:active {
    color: white;
    border: 1px solid transparent;
    background-color: #004056;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-ida-volta.ativado:hover {
    color: white;
    border: 1px solid transparent;
    background-color: #005a79;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-ida-volta.ativado:focus {
    color: white;
    border: 1px solid transparent;
    background-color: #004d68;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-ida-volta.ativado:visited {
    color: white;
    border: 1px solid transparent;
    background-color: #004056;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }

.btn-ida-volta.desativado {
  font-family: "Dosis Medium", sans-serif;
  font-size: .8rem;
  text-transform: uppercase;
  color: #00678a;
  -webkit-transition: color 0.4s ease-in;
  -moz-transition: color 0.4s ease-in;
  -ms-transition: color 0.4s ease-in;
  -o-transition: color 0.4s ease-in;
  border: 1px solid #00678a;
  -webkit-transition: border 0.4s ease-in;
  -moz-transition: border 0.4s ease-in;
  -ms-transition: border 0.4s ease-in;
  -o-transition: border 0.4s ease-in;
  background-color: transparent;
  -webkit-transition: background-color 0.4s ease-in;
  -moz-transition: background-color 0.4s ease-in;
  -ms-transition: background-color 0.4s ease-in;
  -o-transition: background-color 0.4s ease-in; }
  .btn-ida-volta.desativado:active {
    color: white;
    -webkit-transition: color 0.4s ease-in;
    -moz-transition: color 0.4s ease-in;
    -ms-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
    border: 1px solid transparent;
    -webkit-transition: border 0.4s ease-in;
    -moz-transition: border 0.4s ease-in;
    -ms-transition: border 0.4s ease-in;
    -o-transition: border 0.4s ease-in;
    background-color: #004056;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-ida-volta.desativado:hover {
    color: white;
    -webkit-transition: color 0.4s ease-in;
    -moz-transition: color 0.4s ease-in;
    -ms-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
    border: 1px solid transparent;
    -webkit-transition: border 0.4s ease-in;
    -moz-transition: border 0.4s ease-in;
    -ms-transition: border 0.4s ease-in;
    -o-transition: border 0.4s ease-in;
    background-color: #005a79;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-ida-volta.desativado:focus {
    color: white;
    -webkit-transition: color 0.4s ease-in;
    -moz-transition: color 0.4s ease-in;
    -ms-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
    border: 1px solid transparent;
    -webkit-transition: border 0.4s ease-in;
    -moz-transition: border 0.4s ease-in;
    -ms-transition: border 0.4s ease-in;
    -o-transition: border 0.4s ease-in;
    background-color: #004d68;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-ida-volta.desativado:visited {
    color: white;
    -webkit-transition: color 0.4s ease-in;
    -moz-transition: color 0.4s ease-in;
    -ms-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
    border: 1px solid transparent;
    -webkit-transition: border 0.4s ease-in;
    -moz-transition: border 0.4s ease-in;
    -ms-transition: border 0.4s ease-in;
    -o-transition: border 0.4s ease-in;
    background-color: #004056;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }

.btn-pesquisar {
  font-family: "Dosis Medium", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  border: 1px solid transparent;
  background-color: #008ab9;
  -webkit-transition: background-color 0.4s ease-in;
  -moz-transition: background-color 0.4s ease-in;
  -ms-transition: background-color 0.4s ease-in;
  -o-transition: background-color 0.4s ease-in; }
  .btn-pesquisar:active {
    color: white;
    border: 1px solid transparent;
    background-color: #004056;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-pesquisar:hover {
    color: white;
    border: 1px solid transparent;
    background-color: #005a79;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-pesquisar:focus {
    color: white;
    border: 1px solid transparent;
    background-color: #004d68;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }
  .btn-pesquisar:visited {
    color: white;
    border: 1px solid transparent;
    background-color: #004056;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in; }

/* Extra Small Devices */
/* Small Devices */
/* Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body#app div#banner-buscador {
    bacckground-color: #70A9B5;
    min-width: 768px;
    height: 90px; } }

/* Large Devices */
@media only screen and (min-width: 992px) and (max-width: 1219px) {
  body#app div#banner-buscador {
    bacckground-color: #70A9B5;
    min-width: 768px;
    height: 90px; } }

/* LARGE - Large Devices */
@media only screen and (min-width: 1200px) {
  body#app {
    background-image: url("../img/jpg/home-bg.jpg");
    background-size: cover;
    border-radius: 3%; }
    body#app div#banner-header div#logo-voopter {
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 15px;
      padding: 1.5rem 0; }
    body#app div#banner-header div#titulo-voopter h1 {
      font-family: "Dosis Regular", sans-serif;
      text-transform: uppercase;
      color: white; }
      body#app div#banner-header div#titulo-voopter h1 span {
        font-family: "Dosis Bold", sans-serif; }
    body#app iframe#banner-buscador {
      display: block;
      margin: 0 auto;
      border: 0;
      box-shadow: 5px 3px 3px rgba(255, 255, 255, 0.55);
      min-width: 728px;
      min-height: 90px; } }
